parameters:
    level: 4

    paths:
        - src
        - tests

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            message: '#Variable \$chr in isset\(\) always exists and is not nullable#'
            path: src/Plugins/datamatrix.php

        -
            message: '#Binary operation \"\+\" between string and string results in an error#'
            path: src/Base1DBarcode.php


        # called via magic name
        - '#Method TomasVotruba\\BarcodeBundle\\Plugins\\qrcode::mask\d+\(\) is unused#'

        # unclear
        -
            message: '#(Left|Right) side of && is always false#'
            paths:
                 - src/Plugins/pdf417.php
                 - src/Plugins/datamatrix.php

        -
            message: '#Else branch is unreachable because ternary operator condition is always true#'
            path: src/Plugins/pdf417.php

        -
            message: '#Comparison operation ">\=" between 0\|int<2, max> and 0 is always true#'
            path: src/Plugins/datamatrix.php

        -
            message: '#Result of && is always false#'
            path: src/Plugins/datamatrix.php
